# Part 1: Questions
- Q1: How have movie genres changed over time? (Budgeted over \$100m)
- Q2: How do the attributes differ between Universal Pictures and Paramount Pictures? (Budgeted over \$100m)
- Q3: How have movies based on novels performed relative to movieios not based on novels? (Budgeted over \$100m)
- Q4: What are the 20 highest-grossing movies ever? Do they all have a high budget or a good reputation? (Budgeted over \$100m)

# Part 2: Data Cleanup and Attribute Selection

### Data Cleanup:
```
2.1 Dealing with duplicates
2.2 Removing the 'Unnamed' columns
2.3 Normalizing the data types and formats
2.4 Comparing the two "release" columns to make them match
2.5 Handle the Null/NA/Zero values
2.6 Saving the tidy dataset as a CSV file
```

### List of attributes selected to dive:
1. original_title
2. imdb_id
3. release_date
4. genres
5. production_companies
6. vote_average
7. budget_adj
8. revenue_adj

In [1]:
# Import required modules
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import math
pd.options.display.max_columns = 100

In [2]:
config IPCompleter.greedy=True

In [3]:
# Load data from the csv file
movies = pd.read_csv('movies.csv', encoding='ISO-8859-1')
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015/6/9,5562,6.5,2015,137999939.3,1392445893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015/5/13,6185,7.1,2015,137999939.3,348161292.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015/3/18,2480,6.3,2015,101199955.5,271619025.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015/12/15,5292,7.5,2015,183999919,1902723130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015/4/1,2947,7.3,2015,174799923.1,1385748801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.1 Dealing with duplicates

In [4]:
# Check if there are duplicate values in 'imdb_id' column,
# and take the amount
movies.duplicated('imdb_id').sum()

10

Ok, the movies dataset contains 10 line items that have been marked as being duplicates. Let's get rid of them with *drop_duplicates* method.

In [5]:
# Drop duplicates from the 'imdb_id' column
movies = movies.drop_duplicates('imdb_id')

#### 2.2 Removing the 'Unnamed' columns

In [6]:
# List column names
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

In [7]:
# Remove the 'Unnamed' columns
movies = movies.loc[:, ~movies.columns.str.contains('Unnamed:')]
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

#### 2.3 Normalizeing the data types and formats

In [8]:
# Identif the data types
movies.dtypes

id                        int64
imdb_id                  object
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
homepage                 object
director                 object
tagline                  object
keywords                 object
overview                 object
runtime                  object
genres                   object
production_companies     object
release_date             object
vote_count               object
vote_average             object
release_year             object
budget_adj               object
revenue_adj              object
dtype: object

In [9]:
# Convert the following data types to numberic types
is_numeric_attrs = ['runtime', 'vote_count', 'vote_average', 'budget_adj', 'revenue_adj', 'release_year']

movies[is_numeric_attrs] = movies[is_numeric_attrs].apply(pd.to_numeric, errors='coerce')

In [10]:
# Convert the time column to datetime format
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')

In [11]:
# Confirm the data type change
movies.dtypes

id                               int64
imdb_id                         object
popularity                     float64
budget                           int64
revenue                          int64
original_title                  object
cast                            object
homepage                        object
director                        object
tagline                         object
keywords                        object
overview                        object
runtime                        float64
genres                          object
production_companies            object
release_date            datetime64[ns]
vote_count                     float64
vote_average                   float64
release_year                   float64
budget_adj                     float64
revenue_adj                    float64
dtype: object

#### 2.4 Comparing the pair of fields to make them match

In [12]:
# Identify the items where the match fails, based on the two 'release' columns
not_matched_release = movies['release_year'] != movies['release_date'].dt.year

movies_release = movies.loc[not_matched_release, ['release_date', 'release_year']]
movies_release.head()

     release_date  release_year
11            NaT           NaN
470           NaT           0.0
832           NaT           5.7
855           NaT           0.0
1108          NaT           0.0

In [13]:
# Get the unique values of 'release_date', based on the mismatched items above
movies_release['release_date'].unique()

array(['NaT'], dtype='datetime64[ns]')

We can see that all the mismatch between the two "release" columns derived from the NaT of "release_date".

#### 2.5 Handling the Null/NA/Zero values

In [14]:
movies.replace(0, np.nan, inplace=True)

In [15]:
# Take the count of Null/NA in each column of dataframe
movies.isnull().sum()

id                         0
imdb_id                    1
popularity                 0
budget                  5674
revenue                 5990
original_title             0
cast                      92
homepage                7887
director                  54
tagline                 2805
keywords                1475
overview                   4
runtime                   75
genres                    25
production_companies    1012
release_date              45
vote_count                17
vote_average              12
release_year              26
budget_adj              5671
revenue_adj             5989
dtype: int64

In [16]:
# When the values of budget and revenue are Null, 
# the recorresponding adjusted values should be Null too.
movies['budget_adj'].where(movies.budget.notnull(), np.nan, inplace=True)
movies['revenue_adj'].where(movies.revenue.notnull(), np.nan, inplace=True)

In [17]:
# Create a variable to select all the two pairs of feilds
related_fields = ['budget', 'revenue', 'budget_adj', 'revenue_adj']

# Select all the entries where all the values of the 4 feilds above are not empty
movies = movies[movies[related_fields].notnull().all(axis=1)]

In [18]:
# Fulfil the non-critical attributes with the empty string
not_key_attrs = ['cast', 'homepage', 'tagline', 'overview']

movies[not_key_attrs] = movies[not_key_attrs].fillna('None Given')

In [19]:
# Refresh the number of empty entries
movies.isnull().sum()

id                        0
imdb_id                   0
popularity                0
budget                    0
revenue                   0
original_title            0
cast                      0
homepage                  0
director                  1
tagline                   0
keywords                138
overview                  0
runtime                   3
genres                    0
production_companies     47
release_date              3
vote_count                3
vote_average              2
release_year              1
budget_adj                0
revenue_adj               0
dtype: int64

In [20]:
# Drop all the records containing Null/NaN
movies.dropna(inplace=True)

# Capitalize the first letter of each column name
movies.columns = movies.columns.str.capitalize()

#### 2.7 Separating the 'genres'  into multiple columns and reshaping them

In [21]:
# Split the genres
splitted_genres = movies['Genres'].str.split('|', expand=True)

# Merge the splitted genres back into movies
merged_back = movies.join(splitted_genres)

In [22]:
# Reshape the dataframe with melt function
melted = merged_back.melt(
    id_vars = ['Imdb_id', 'Release_date', 'Release_year', 'Budget_adj', 'Revenue_adj'],
    value_vars = [0, 1, 2, 3, 4],
    value_name = 'Simple_genre'
).drop('variable', axis=1
).dropna()

In [23]:
melted.to_csv('imdb_genres.csv', index=False, encoding='utf-8')

In [24]:
melted.head()

,Imdb_id,Release_date,Release_year,Budget_adj,Revenue_adj,Simple_genre
0,tt0369610,2015-06-09,2015.0,137999939.3,1.392446e+09,Action
1,tt1392190,2015-05-13,2015.0,137999939.3,3.481613e+08,Action
2,tt2908446,2015-03-18,2015.0,101199955.5,2.716190e+08,Adventure
3,tt2488496,2015-12-15,2015.0,183999919.0,1.902723e+09,Action
4,tt2820852,2015-04-01,2015.0,174799923.1,1.385749e+09,Action

#### 2.8 Saving the results

In [25]:
# Capitalize the first letter of each column name before saving
movies.columns = movies.columns.str.capitalize()

In [26]:
# Save the tidy results
movies.to_csv('movies_tidy.csv', index=False, encoding='utf-8')

In [27]:
movies.columns

Index(['Id', 'Imdb_id', 'Popularity', 'Budget', 'Revenue', 'Original_title',
       'Cast', 'Homepage', 'Director', 'Tagline', 'Keywords', 'Overview',
       'Runtime', 'Genres', 'Production_companies', 'Release_date',
       'Vote_count', 'Vote_average', 'Release_year', 'Budget_adj',
       'Revenue_adj'],
      dtype='object')