In [87]:
import pandas as pd
inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
df

   c1   c2
0  10  100
1  11  110
2  12  120

In [88]:
for row in df.values:
    print row

[ 10 100]
[ 11 110]
[ 12 120]

In [89]:
for date, row in df.T.iteritems():
    print row

c1     10
c2    100
Name: 0, dtype: int64
c1     11
c2    110
Name: 1, dtype: int64
c1     12
c2    120
Name: 2, dtype: int64

In [91]:
for row in df.itertuples():
    print row

Pandas(Index=0, c1=10, c2=100)
Pandas(Index=1, c1=11, c2=110)
Pandas(Index=2, c1=12, c2=120)

In [115]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  1.027722  1.378348  1.368279
1  0.574915 -1.822536 -0.360846
2 -1.322545  0.052996 -0.158465
3 -0.995530 -0.285651  0.232098

In [116]:
for key,value in df.iteritems():
   print key,value

col1 0    1.027722
1    0.574915
2   -1.322545
3   -0.995530
Name: col1, dtype: float64
col2 0    1.378348
1   -1.822536
2    0.052996
3   -0.285651
Name: col2, dtype: float64
col3 0    1.368279
1   -0.360846
2   -0.158465
3    0.232098
Name: col3, dtype: float64

In [122]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
df

       col1      col2      col3
0 -0.157452  1.089364 -0.248101
1  0.795666  0.980850 -0.403519
2 -0.591901 -0.421724  0.198023
3  0.840326  0.092379 -0.011989

In [132]:
for index, row in df.iterrows():
   print index[1]

IndexError: invalid index to scalar variable.

In [136]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df

        one       two     three
a  0.185914 -0.949703 -0.467053
b       NaN       NaN       NaN
c  1.730565 -2.247865 -0.124004
d       NaN       NaN       NaN
e  0.047832  0.845401  0.660930
f  0.525518 -0.939782  2.891114
g       NaN       NaN       NaN
h  0.714915 -0.391029 -0.389904

In [160]:
df.iloc[:2,:2]

        one       two
a  0.185914 -0.949703
b       NaN       NaN

In [172]:
df.loc[['a','e']]

        one       two     three
a  0.185914 -0.949703 -0.467053
e  0.047832  0.845401  0.660930